@import '../../../../styles/colors.scss';

.tables{
    padding-top:15px;
    padding-bottom: 15px;
    display: flex;
    overflow:auto;
    &::-webkit-scrollbar{
        background-color: $air-superiority-blue;
        height:5px;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #333333;
        border-radius: 5px;
    }
    .error{
        margin-top: 25px;
        width: 100%;
        font-size:18px;
        text-align: center;
    }
}
        