@import '../../../../../styles/colors.scss';

.table{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    img{
        cursor: pointer;
    }
    p{
        height:67px;
        width:140px;
        padding-top:10px;
        font-size:16px;
        font-weight: 500;
    }
}
