.tables{
    padding-top:15px;
    display: flex;
    overflow:auto;
    .table{
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        p{
            width:140px;
            padding-top:10px;
            font-size:16px;
            font-weight: 500;
        }
    }
    &::-webkit-scrollbar{
        background-color: #6EA4BF;
        height:5px;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #333333;
        border-radius: 5px;
    }
}